* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to right,
    rgba(246, 99, 214, 0.667),
    #9761ee,
    #89d1f3
  );
}
.container {
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  margin-top: 200px;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgba(235, 229, 229, 0.3);
}
input[type="text"] {
  margin-top: 80px;
  height: 30px;
  /* border: 1px solid purple;
  border-radius: 5px; */
}

.copybtn {
  background-color: white;
  height: 30px;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
}
.copybtn:hover {
  background-color: lightblue;
  color: white;
}
